.question-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.question-container header {
    display: flex;
    align-items: center;
}

.question-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.question-container header img {
    height: 64px;
}

.question-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.question-container header button {

    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.question-container section h1 {
    margin: 20px;
    font-size: 20px;
    margin-left: 24px;
}



.question-container form input {
    width: 10%;
    height: 15px;
    color: #333;
    border: 1px solid #dcdedc;
    border-radius: 8px;
    padding: 0 24px;
}


input, button,  {
    font: 400 10px Roboto, sans-serif;
}